
p {
    color: blue;
    font-size: 24px;
}
li{
    color: brown;
}

.tem{
    color: pink;
    font-weight: bold;
}
#apellido{
    color:blue;

}

image {
    width: 1000px;
    height: 400px;
}
#image1{
    width: 400px;
    border: 10px solid red;
    border-color: 5%;
}
div{
    height: 200px;
    background-color: rgb(122, 122, 236);
    border: 2px solid rgb(252, 178, 190);
    color: white;
    display: inline;
}
#container1{
    width: 600px;
    height: 100px;
    border: 2px solid green;
    background-color: black;
}

  .caja1{
    width: 200px;
    height: 100px;
    border: 2px solid green;
    background-color: black;
    display: inline-block;
    display: none;

}